In [ ]:
import requests as req
from IPython.core.display import JSON
import json

url = "http://site.api.espn.com/apis/site/v2/sports/basketball/nba/teams/1"
data = req.get(url).text
data = json.loads(data)

In [ ]:
 # type: ignore
import pandas as pd
i = data["team"]["record"]["items"][0]["stats"]
pd.DataFrame(i)

In [2]:
from data.repo import Repo

team = "23"
x = Repo.teams.getTeamData(id=team)

x.stats.summary

In [3]:

from utils.visuals import *

SummarizeAllTeamsWinPercentage()

    Team  Win Percentage
0    ATL       49.152540
1    BOS       71.186440
2     NO       50.847460
3    CHI       44.067797
4    CLE       62.295080
5    DAL       51.666665
6    DEN       69.491524
7    DET       25.423730
8     GS       50.000000
9    HOU       22.413793
10   IND       43.333334
11   LAC       54.098360
12   LAL       45.762712
13   MIA       54.237290
14   MIL       70.689654
15   MIN       50.819670
16   BKN       58.620690
17    NY       55.000000
18   ORL       40.677965
19   PHI       66.666670
20   PHX       53.333336
21   POR       48.275860
22   SAC       56.140350
23    SA       23.728813
24   OKC       49.122807
25  UTAH       48.333332
26   WSH       48.275860
27   TOR       47.457626
28   MEM       61.403507
29   CHA       28.333333