# Example: Fetching Data From For the GSW

In [1]:
from data.repo import Repo
from utils.visuals import Summerize

team_data = Repo.teams.getTeamData(id=1)

team_data.stats.games_played

59

### Displaying Information for the given team

In [3]:
Summerize(team_data)

           columns                data
0        Full Name       Atlanta Hawks
1     Abbreviation                 ATL
2         Division  Southeast Division
3         Location             Atlanta
4     Games Played                  59
5  Win-Lose Record             29 - 30
6   Win Percentage            49.15254
7    Points Scored                6867

In [ ]:
import requests as req
import pandas as pd
import json
from IPython.core.display import JSON
from data.models.team_model import TeamModel
from data.repo import Repo

url = "http://site.api.espn.com/apis/site/v2/sports/basketball/nba/teams"
data = req.get(url).text

# Serialize the JSON and only extract the Sports Atrribute
data = json.loads(data)["sports"]
# Extract Leagues attribute
leagues = data[0]["leagues"]

# Extract the NBA
league = leagues[0]
# Get teams
teams = league["teams"]

ids = []
initials = []
display_names = []
    
# Extract every teams name, initial, short name and display name
for x in range(len(teams)):    
    ids.append(int(teams[x]["team"]["id"]))
    initials.append(teams[x]["team"]["abbreviation"])
    display_names.append(teams[x]["team"]["displayName"])

result = pd.DataFrame({
    'Id':ids,
    'Initial':initials,
    'Display Name':display_names
})

results = result.sort_values('Id')

results.to_csv()

In [ ]:
team_id = Repo.static.getTeamIdByAbbr(abbr='ATL')
team_id